#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a{
  text-decoration: none;
  
}
--btn_primyary{
  background-color: rgba(0, 0, 255, 0.4);
  color: #ffff;
}

body{
  background: linear-gradient(to right, rgba(0, 0, 255, 0.4), rgba(128, 0, 128, 0.3), rgba(255, 105, 180, 0.2));
}
